.d-t {
	margin-top: 30px;
	text-align: center;
}

.d-t p {
	padding: 30px;
	font-size: 30px;
	border-radius: 4px;
}

.d-t:after {
    z-index: -1;
    position: relative;
    top: 100%;
    left: 40%;
    content: '';
    border-top: solid 14px #659EC7;
    border-left: solid 14px transparent;
    border-right: solid 14px transparent;
}
.left-tym {
	text-align: left;
	font-size: 28px;
	color: #9b9b9b;
}

.left-tym span {
	color: #FF8C00;
	font-weight: 600;
}
#curr {
	height: 70px;
	width: 70%;
	font-size: 26px;
	padding-left: 40px;
}

#give_now_button {
	height: 70px;
	width: 70%;
	font-size: 26px;
}
.wrapper {
	border: 1px solid #e1e1e1;
	padding-bottom: 30px;
	-webkit-box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.6);
	box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.6);
}
.additional div {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.additional div > p, .additional div > a > p{
	border: 1px solid #e1e1e1;
	padding: 15px;
	font-size: 25px;
	background: #F5F5F5;
	color: grey;
	font-weight: 600;
	border-radius: 4px;
	-webkit-box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.6);
	box-shadow: 0px 4px 7px -1px rgba(0,0,0,0.6);
}
.pointer {
	cursor: pointer;
}

.custom-alert {
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 0;
	display: none;
}